---
interface Props {
	id: string;
	heading: string;
	body: string;
	btnCta: string;
	btnText: string;
	src: string;
	disclaimer?: string;
	target?: string;
}

const { id, heading, body, btnCta, btnText, src, disclaimer, target } =
	Astro.props;
---

<article id={id}>
	<div class="container">
		<img src={src} alt="" />
		<div>
			<h3>{heading}</h3>
			<p>{body}</p>
			<a href={btnCta} class="btn" target={target}>{btnText}</a>
			<p class="disclaimer"><small>{disclaimer}</small></p>
		</div>
	</div>
</article>

<style lang="scss">
	article {
		background: linear-gradient(#b29478, #f6e8cb); // $gradientTB
		padding: 2rem 1rem;

		.container {
			display: block;

			@media (min-width: 1024px) {
				display: flex;
			}

			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			img {
				border: 4px solid #6e4f33; // $color-sand4
				margin-right: 2rem;

				@media (min-width: 1024px) {
					max-width: 608px;
					max-height: 405px;

					&:nth-child(odd) {
						margin-left: 2rem;
					}
				}
			}
		}

		@media (min-width: 1024px) {
			&:nth-child(odd) {
				background: linear-gradient(to right, #f6e8cb, #b29478); // $gradientLR

				.container {
					flex-direction: row-reverse;
				}
			}
			&:nth-child(even) {
				background: linear-gradient(to right, #b29478, #f6e8cb); // $gradientRL;
			}
		}
	}

	.disclaimer {
		margin-top: 3rem;
	}
</style>
